@import url('https://fonts.googleapis.com/css?family=Delius+Swash+Caps');
@import 'f1-4';
@import 'f5-12';
@import 'f13-16';

#Layer_1 {

  .cls-1,
  .cls-2 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 8px;
  }

  .cls-2 {
    fill-rule: evenodd;
  }
}

